extends layout

block layout-content
    div.container
        h1.text-center.mt-4.mb-4 ABOUT
        h4.mt-4 WHO
        p This website was made by Dimitrije Knezevic, with supervision of his mentor and professor Zarko Stanisavljevic
        h4.mt-4 WHY
        p As a part of his final thesis project titled 'System for Visual Representation of Blockchain Technology' at School of Electrical Engineering in Belgrade, with the purpose of bringing this technology a bit closer to the folks that aren't related to the IT industry
        h4.mt-4 HOW
        p Created primarily by using Javascript and Javascript's frameworks Node.js and jQuery
        p Pug (Jade) was also used alongside Bootstrap 5 for styling and a few publicly available (mainly from MIT) plain js scripts for some of the calculations
        h4.mt-4 WHEN
        p This website was being developed in small batches from March through December 2022