extends layout

block layout-content
    div.container
        h1.text-center.mt-4.mb-4 BLOCK
        div.card.bg-light
            div.card-body
                form
                    div.mb-3.row
                        label.col-sm-2.control-label.pt-2(for='magic') Magic:
                        div.col-sm-10
                            div.input-group 
                                span.input-group-text #
                                input#magic.form-control(type='text', value='51948', spellcheck='false')

                    div.mb-3.row
                        label.col-sm-2.control-label.pt-2(for='blockid') Block:
                        div.col-sm-10
                            div.input-group 
                                span.input-group-text #
                                input#blockid.form-control(type='text', value='14', spellcheck='false')

                    div.mb-3.row
                        label.col-sm-2.col-form-label(for='data') Data:
                        div.col-sm-10
                            textarea#data.form-control(rows='10', spellcheck='false')

                    div.mb-3.row
                        label.col-sm-2.control-label.pt-2(for='hash') Hash:
                        div.col-sm-10
                            input#hash.form-control(type='text', disabled)

    script.
        function getText(chain, block){
            return $('#magic').val().toString()+$('#blockid').val().toString()+$('#data').val();
        }

        $('#hash').val(sha256());

        $(function() {
            $('#magic').bind('input propertychange', function() {
                this.value = this.value.replace(/[^0-9]/g, '');
                $('#hash').val(sha256());    
            });

            $('#magic').bind('focusout', function() {
                if(this.value==''){
                    this.value='0';
                    $('#hash').val(sha256());
                }
            });

            $('#blockid').bind('input propertychange', function() {
                this.value = this.value.replace(/[^0-9]/g, '');
                $('#hash').val(sha256());
            });

            $('#blockid').bind('focusout', function() {
                if(this.value==''){
                    this.value='0';
                    $('#hash').val(sha256());
                }
            });

            $('#data').bind('input propertychange', function() {
                $('#hash').val(sha256());
            });
        });