extends layout

block layout-content
    div.container
        h1.text-center.mt-4.mb-4 CRYPTOGRAPHIC HASH FUNCTIONS
        div.card.bg-light
            div.card-body
                form
                    div.row.mb-3
                        label.col-sm-2.col-form-label(for='data') Data:
                        div.col-sm-10
                            textarea#data.form-control(rows='10', spellcheck='false')

                    div.row.mb-3
                        label.col-sm-2.control-label.pt-2(for='md5', data-toggle='tooltip', data-bs-placement='left',
                            title='Designed in 1991. Cryptographically broken. Produces a 128-bit hash (32 hx digits).') MD5:
                        div.col-sm-10
                            input#md5.form-control(type='text', disabled)

                    div.row.mb-3
                        label.col-sm-2.control-label.pt-2(for='sha1', data-toggle='tooltip', data-bs-placement='left',
                            title='Published in 1995. Susceptible to collision attacks. Produces a 160-bit hash (40 hx digits).') SHA1:
                        div.col-sm-10
                            input#sha1.form-control(type='text', disabled)

                    div.row.mb-3
                        label.col-sm-2.control-label.pt-2(for='sha256', data-toggle='tooltip', data-bs-placement='left',
                            title='Published in 2001. Widely used today. Produces a 256-bit hash (64 hx digits). We will use it as a hashing algorithm.') SHA256:
                        div.col-sm-10
                            input#sha256.form-control(type='text', disabled)

                    div.row.mb-3
                        label.col-sm-2.control-label.pt-2(for='sha512', data-toggle='tooltip', data-bs-placement='left',
                            title='Published in 2001. Part of the same SHA-2 family together with SHA-256. Produces a 512-bit hash (128 hx digits).') SHA512:
                        div.col-sm-10
                            input#sha512.form-control(type='text', disabled)
    
    script.
        function getText(chain, block){
            return $('#data').val();
        }

        $('#md5').val(md5());
        $('#sha1').val(sha1());
        $('#sha256').val(sha256());
        $('#sha512').val(sha512());

        $(function() {
            $('#data').bind('input propertychange', function() {
                $('#md5').val(md5());
                $('#sha1').val(sha1());
                $('#sha256').val(sha256());
                $('#sha512').val(sha512());
            });
            $('[data-toggle="tooltip"]').tooltip(); //initialize tooltips
        });