extends layout

block layout-content
    div.container
        h1.text-center.mt-4.mb-5 REFERENCES
        ul.text-center(style="list-style: none")
            li(style="margin: 10px 0")
                a(href="https://bitcoin.org/bitcoin.pdf" style="text-decoration:none" target="_blank" rel="noopener noreferrer") Bitcoin - Bitcoin.pdf
            li(style="margin: 10px 0")
                a(href="http://ipj.dreamhosters.com/wp-content/uploads/2017/12/ipj20-3.pdf" style="text-decoration:none" target="_blank" rel="noopener noreferrer") The Internet Protocol Journal - A Blockchain Tutorial
            li(style="margin: 10px 0")
                a(href="https://ocw.mit.edu/courses/15-s12-blockchain-and-money-fall-2018/pages/lecture-slides/" style="text-decoration:none" target="_blank" rel="noopener noreferrer") MIT - Blockchain and Money
            li(style="margin: 10px 0")
                a(href="https://www.youtube.com/watch?v=_160oMzblY8" style="text-decoration:none" target="_blank" rel="noopener noreferrer") Anders Brownworth - Blockchain 101
            li(style="margin: 10px 0")
                a(href="https://www.youtube.com/watch?v=bBC-nXj3Ng4" style="text-decoration:none" target="_blank" rel="noopener noreferrer") 3Blue1Brown - How does Bitcoin work?
            li(style="margin: 10px 0")
                a(href="https://www.youtube.com/watch?v=Lx9zgZCMqXE" style="text-decoration:none" target="_blank" rel="noopener noreferrer") CuriousInventor - How Bitcoin works under the hood
            li(style="margin: 10px 0")
                a(href="https://www.deltecbank.com/2021/10/05/bitcoin-transaction-validation-what-exactly-goes-on-under-the-hood/" style="text-decoration:none" target="_blank" rel="noopener noreferrer") Deltec Bank - Bitcoin Transaction Validation
            li(style="margin: 10px 0")
                a(href="https://www.oreilly.com/library/view/mastering-bitcoin/9781491902639/ch01.html" style="text-decoration:none" target="_blank" rel="noopener noreferrer") Andreas M. Antonopoulos - Mastering Bitcoin